{%  for item in articles %}
    <table class="articleTable" cellspacing="5" width="100%">
        <tbody>
        <tr>
            <td width="55px" class="id" style="font-size:11px;">
                {% if permissions.ARTICLE_TOOL_EDITOR_ROLE %}
                    <a target="_blank" href="edit?article_id={{ item.article_id }}">{{ item.article_id }}</a>
                {% else %}
                    <a target="_blank" href="{{ PREVIEW_LOCATION ~ item.article_url }}/?debug=1">{{ item.article_id }}</a>
                {% endif %}
            </td>

            <td class="name">
                <a target="_blank" href="{{ PREVIEW_LOCATION ~ item.article_url }}/?debug=1">{{ item.article_title }}</a>
            </td>

            <td width="120px" class="date" style="font-size:11px;">{{ item.date_scanned }}</td>
            <td width="120px" id="{{ item.status|lower }}" class="status" style="font-size:11px;">{{ item.status }}</td>

            {% if checkbox %}
                <td width="20px" class="check"><label><input type="checkbox" class="article_status" value="{{ item.article_id }}"></label></td>
            {% endif %}
        </tr>
        </tbody>
    </table>
{% endfor %}
