<div class="articleId-searchbar">
    <input type="search" placeholder="Search Article Id" id="id__article_search"/>
</div>

<ul>
    <li class="homeLink">
        <a href="./">Home Page</a>
    </li>
    {% for item in sections %}
        <li>
{#            <a href="./article_list?section_id={{ item.section_id }}&section_name={{ item.section_title }}">#}
{#                {{ item.section_title }} <p style="font-size:11px; display:inline;">({{ item.total }})</p>#}
{#            </a>#}
            <a class="js__article_sections" rel="noreferrer" target="_self" data-section_id="{{ item.section_id }}" data-section_name="{{ item.section_title }}">
                {{ item.section_title }} <p style="font-size:11px; display:inline;">({{ item.total }})</p>
            </a>
        </li>
    {% endfor %}
</ul>

{% block scripts %}
    <script>
        ds__onReady(() => {
            console.debug('[sections:ready]');

            /*
                Load section's articles asynchronously
            */
            ds__bindEvent_querySelectorAll('.js__article_sections', 'click', (event) => {
                event.preventDefault();
                const $target = event.target;

                const searchParams = new URLSearchParams('');
                searchParams.append('section_id', $target.getAttribute('data-section_id'));
                searchParams.append('section_name', $target.getAttribute('data-section_name'));
                console.debug('ajax url:', searchParams.toString(), '[sections:onclick]');

                ds__ajax_getHTML('article_list?' + searchParams.toString())
                    .then((html) => {
                        console.debug('.then [sections:.js__article_sections.click', html);
                        // document.getElementById('id__container').innerHTML = html;
                    })
                    .catch((error) => {
                        console.error(error);
                    })

            })


        })
    </script>
{% endblock %}
