{#{% extends "index.twig" %}#}

{% block container %}
    <h1>{{ section_title }}</h1>

    <div class="buttonsBar">
        {% include 'component/article_action_bar.twig' with {'permissions': permissions} %}
    </div>

    <table class="tdTitle" cellspacing="5" width="100%">
        <tbody>
        <tr>
            <td width="70px">ID</td>
            <td>Title</td>
            <td width="120px" class="date">Last Update</td>
            <td width="120px" style="text-align:right;">Status</td>
            <td width="20px" class="check"><input type="checkbox" name="select_all" id="btn__select_all"></td>
        </tr>
        </tbody>
    </table>

    <!-- BEGIN article_row -->
    {%  for item in articles %}
    <table class="articleTable" cellspacing="5" width="100%">
        <tbody>
        <tr>
            <td width="55px" class="id" style="font-size:11px;">
                {% if permissions.ARTICLE_TOOL_EDITOR_ROLE %}
                    <a target="_blank" href="edit?article_id={{ item.article_id }}">{{ item.article_id }}</a>
                {% else %}
                    <a target="_blank" href="{{ item.article_url }}/?debug=1">{{ item.article_id }}</a>
                {% endif %}
            </td>
            <td class="name">
                <a target="_blank" href="{{ item.article_url }}/?debug=1">{{ item.article_title }}</a>
            </td>
            <td width="120px" class="date" style="font-size:11px;">{{ item.date_scanned }}</td>
            <td width="120px" id="{{ item.status|lower }}" class="status" style="font-size:11px;">{{ item.status }}</td>
            <td width="20px" class="check"><label><input type="checkbox" class="article_status" value="{{ item.article_id }}"></label></td>
        </tr>
        </tbody>
    </table>
    {%  endfor %}
    <!-- END article_row -->

    <div class="buttonsBar btm">
        {% include 'component/article_action_bar.twig' with {'permissions': permissions} %}
    </div>

    </div>
{% endblock %}

{% block scripts %}
{#    {{ parent() }}#}
    <script>
        ds__onReady(() => {
            console.debug('[article_list:ready]');
            const timings = '{{ timings_json|raw }}';
            console.debug(JSON.parse(timings), '[article_list:timings]');

            /*
                Article list checkbox processing
             */
            ds__bindEvent_getElementById('btn__select_all', 'change', (event) => {
                const $change_list = document.querySelectorAll('input.article_status[type=checkbox]');
                $change_list.forEach((element) => {
                    element.checked = event.target.checked
                });
                console.debug('well done [article_list:checked]')
            })

        });
    </script>
{% endblock %}



