{% extends "layout/app.twig" %}

{% block article_row_nav %}
    {% for item in sections %}
    <li>
        <a href="?section_name={{ item.section_title|replace(' ', '-') }}">
            {{ item.section_title }}<p style="font-size:11px; display:inline;">({{ item.total }})</p>
        </a>
    </li>
    {% endfor %}
{% endblock %}

{% block article_editor_header %}
    {%  for key in totals|keys %}
    <div class="circle">
        <div class="insideCircle">
            <h2>{{ totals.key }}</h2>
            <a href="./article_list_status?status={{ key }}" id="{css_status_id}" class="status" style="color: green">{{ key|capitalize }}</a>
        </div>
    </div>
    {% endfor %}
    <div class="circle">
        <div class="insideCircle"><h2>{unpublished}</h2><a href="./article_list_status?status=unpublished"  id="{css_status_id}" class="status" style="color: orange">Unpublished</a></div></div>
    <div class="circle"><div class="insideCircle"><h2>{finished}</h2><a href="./article_list_status?status=finished"  id="{css_status_id}" class="status" style="color: black">Finished</a></div></div>
    <div class="circle"><div class="insideCircle"><h2>{hold}</h2><a href="./article_list_status?status=hold"  id="{css_status_id}" class="status" style="color: red">Hold</a></div></div>
    <div class="circle helpful" style="margin-left:15px;"><div class="insideCircle"><h2>{untagged}</h2><p id="{css_status_id}" class="status"><a href="articles_missing_tags_list">Missing Tags</a></p></div></div>
{% endblock %}
