{% extends "layout/app.twig" %}

{% block article_row_nav %}
    {% for item in sections %}
    <li>
        <a href="?section_name={{ item.section_title|replace(' ', '-') }}">
            {{ item.section_title }} <p style="font-size:11px; display:inline;">({{ item.total }})</p>
        </a>
    </li>
    {% endfor %}
{% endblock %}

{% block article_editor_header %}
    {%  for item in totals %}
    <div class="circle">
        <div class="insideCircle">
            <h2>{{ item.status_count }}</h2>
            <a href="./article_list_status?status={{ item.status_name }}"
               id="status_id__{{ item.status_id }}" class="status" style="color: {{ item.status_color }}">{{ item.status_name }}
            </a>
        </div>
    </div>
    {% endfor %}
{% endblock %}
